:root {
  --swiper-theme-color: #ff794f;
}

.resto-gallery .swiper {
  width: 100%;
  height: 100%;
  margin: 0.5rem 0.5rem;
}

.resto-gallery .swiper-slide {
  height: 100%;
  width: 100%;
  margin-top: 0.2rem;
  display: flex;
  justify-content: center;
}
