:root {
  --swiper-theme-color: #ff794f;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-custom-pagination {
  position: relative;
  top: 18px;
  width: auto !important;
  left: auto !important;
  margin: 1rem 0;
}
